<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>IFHE Assistant</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
  <div class="nav-left"></div>

  <div class="brand-container">
  <img src="/static/image.jpeg" alt="IFHE Logo" class="brand-logo">
  <h1 class="brand-title">
    <span class="brand-highlight">DIGITAL </span> ICFAI
  </h1>
</div>


  <nav class="nav-right">
    <ul>
      <div class="dropdown">
  <button class="dropbtn"><span class="menu-icon">☰</span></button>
  <div class="dropdown-content">
    <a href="/chat">Chatbot</a>
    <a href="/courses">Course Recommender</a>
    <a href="/employees">Employee Lookup</a>
  </div>
</div>

    </ul>
  </nav>
</header>


  <main class="content">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <p>© 2025 ICFAI University | Powered by CIT</p>
  </footer>
</body>
</html>
